
<div class="container">
  <div class="row">
    <div class="col-6 centering form rounded-input mt-3 p-4 shadow mb-3">
      <h1>Book a meeting room!</h1>
      <%= link_to 'Make a request', new_booking_path, class: "btn btn-main-small" %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-6 centering form rounded-input mt-3 p-4 shadow mb-3">
      <h3>Admin area</h3>
      <%= link_to 'Check all requests', bookings_path, class: "btn btn-main-small" %>
    </div>
  </div>
</div>

