<div class="container container-custom">
  <div class="row row-custom">
    <div class="col-6 centering form rounded-input mt-3 p-4 shadow mb-3">
     <h1> You have booked <%= @booking.seats %> seats </h1>

    <%= link_to 'Buchung bearbeiten', edit_booking_path(@booking) %>
    <%= link_to 'Buchung stornieren', booking_path(@booking), method: :delete, data: { confirm: 'Sind Sie sicher?'} %>
    <%= link_to 'Zurück', new_booking_path %>
    </div>
  </div>
</div>
