<h1>home</h1>

<h1>Welcome to the meeting center</h1>

<h1>Would you like to book a meeting?</h1>

<ul>
  <li><%= link_to "Book sunset", sunset_path %></li>
  <li><%= link_to "Book sunrise", sunrise_path %></li>
</ul>

