.card-buyer {
  background-color: white;
  overflow: hidden;
  min-height: 150px;
  max-width: auto;
  box-shadow: 0 0 6px rgba(0,0,0,0.6);
  border-radius: 4px;
  margin: 2px;
  color: #435560;
}

.card-produce {
  background-color: white;
  box-shadow: 0 0 6px rgba(0,0,0,0.6);
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 80px;
  height: 80px;
  border-radius: 4px;
  color: #435560;
}

.rounded-input {
  background-color: #FFFFFF;
  border-radius: 50px;
  color: #0a2a3a;
  padding: 8px 24px;
  font-style: "Nunito";
  opacity: 1;
  transition: opacity 0.3s ease;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.card-category {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  color: white;
  background-size: cover;
  border-radius: 4px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.7);
  text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
  margin-bottom: 24px;
}
